<p><span>Lender: </span><%= @user.username %></p>
<p><span>Amount: </span><%= @request.requested_amount %></p>
<p><span>From: </span><%= @request.loan_start %> <span>To: <%= @request.loan_end %></span></p>
<p><span>Status: </span><%= @request.status %></p>
