  <p>User <span><%= @user.first_name %> <%= @user.last_name %></span> has sent you a loan request</p>
  <p><span>Amount: </span><%= @request.requested_amount %></p>
  <p><span>From: </span><%= @request.loan_start %> <span>To: <%= @request.loan_end %></span></p>
