<h1>Loan offers near you</h1>
<hr>
<% @loans.each do |loan| %>
  <h2><%= loan.title %></h2>
  <p><%= loan.description %></p>
  <p><span>Limits: </span>$<%= loan.min_amount %> - $<%= loan.max_amount %> USD</p>
  <p><span>Interest: </span><%= loan.interest_rate %>%</p>
  <p><span>Payments: </span><%= loan.payment_frequency %></p>
  <p><span>Lending period: </span> <%= loan.payment_period %> month(s)</p>
  <%= link_to "Details", loan_path(loan.id) %>
<% end %>
